@* @using ASP_Project.Areas.Identity.Data.DbContexts;
@using ASP_Project.Areas.Identity.Data.Models
@model ProductVariation
@{
    Layout = "_AdminsLayout";
}

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product Variation</h2>
            <hr />
        </div>  
        <div class="container">
            <div class="row">
                <div class="col">
                     
                     
                    <div class="mb-3">
                        <label asp-for="Discount"></label>
                        <input asp-for="Discount" class="form-control" value="0"/> 
                    </div>
                </div>
                <div class="col">
                    <div class="container"> 
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="ProductImages" class="control-label">Images</label>
                                <input asp-for="ProductImages" class="form-control" type="file" name="ProductImages" multiple /> <!-- Use 'name="files"' for file input -->
                                <span asp-validation-for="ProductImages" class="text-danger"></span>  
                            </div>
                        </div>
                            <div class="row my-3 justify-content-evenly">
                            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                            <a asp-controller="ProductVariation" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                Back to List
                            </a>
                        </div>
                    <div/>
                </div> 
            </div>
        </div>
    </div>
</form> *@